@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* CSS RESET START */

* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}


html {
    font-family: 'Quicksand', sans-serif;
font-size: 0.625rem;
}


body {
font-size: 1.6rem;
background-color: #707070;
}

/* CSS RESET END */

a{
    text-decoration: none;
    background-color: #E79899;
    color: #FFFFFF;
    font-size: clamp(1.2rem, 0.894rem + 1.306vw, 2.2rem);
    text-transform: uppercase;
    padding: 5px 90px;
    cursor: pointer;
}

a:hover{
    background-color: #DEC161;
}

h1{
    font-size: clamp(3rem, 2.082rem + 3.918vw, 6rem);
    font-family: 'Bodoni Moda', serif;
    color: white;
}

section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}