.our-profile-container{
    margin-top: 50px;
    width: 100%;
}

.our-profile-container img{
    width: 250px;
    height: 400px;
    object-fit: cover;

    border-radius: 20px;
}

@media (min-width: 900px){
    .single-profile-container{
        margin-top: 100px;
    }
}